# remove virtual environment

# PyCharm
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/env/

/exercices/p2c4s2/one/first/
/exercices/p2c4s2/two/second/
/exercices/p2c4s2/three/third/


